<div class="container-fluid">
  <br/>
  <div class="row">
    <div class="col-xs-12 text-center">
      <img src="./assets/images/logo/logo.png" alt="OnFees">
    </div>
  </div>
  <div>
    <h1 style="color: #264e90; font-family: Helvetica; margin: 2rem; text-align:center;font-size: 18px;">You are using an incompatible browser.</h1>
    <h3 style="color: #01030e; font-family: Helvetica; margin: 2rem; text-align:center; font-size: 14px; font-weight: 400;">
      The following browsers are supported:
      <br>
      <br>
      <a target="_blank" href="https://support.microsoft.com/en-us/help/17621/internet-explorer-downloads" title="Download newest Internet Explorer Browser">Internet Explorer 11</a> and above
      <br>
      <a target="_blank" href="https://www.mozilla.org/en-US/firefox/new/" title="Download Firefox">Firefox</a> version 40 and above
      <br>
      <a target="_blank" href="https://www.google.com/chrome/" title="Download Google Chrome">Chrome</a> version 40 and above
      <br>
      Opera version 41 and above
      <br>
      Edge version 14 and above
      <br>
      Safari version 10 and above
      <br>
      <br>
      <p class="alert alert-warning">
        Detected Browser: {{detectedBrowser}}
      </p>
    </h3>
  </div>
</div>