<div fxLayout="column" class="approve-reject-dialog">
	<div class="flex-p mb-padng-0">
		<div mat-dialog-title class="modal-header">
			<b class="">{{modalTitle}}</b>
		</div>
		<mat-dialog-content>
			<form [formGroup]="approveRejectForm" (ngSubmit)="onSubmit(approveRejectForm.value)" autocomplete="off">
				<div *ngIf="type == 'approve'" flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
					<mat-form-field fxFlex>
						<input formControlName="nodalMerchantCode" placeholder="Nodal Merchant Code" maxlength="35" matInput>
						<mat-error *ngIf="approveRejectForm.controls.nodalMerchantCode.errors?.required">{{allMsgs.REQUIRED_FIELD}}</mat-error>
					</mat-form-field>
				</div>
				<div *ngIf="type == 'reject'" flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
					<mat-form-field fxFlex>
						<textarea formControlName="rejectedReason" placeholder="Reject Reason" (keydown.space)="$event.preventDefault()" minlength="10" maxlength="200" matInput></textarea>
						<mat-error *ngIf="approveRejectForm.controls.rejectedReason.errors?.required">{{allMsgs.REQUIRED_FIELD}}</mat-error>
			            <mat-error *ngIf="approveRejectForm.controls.rejectedReason.hasError('minlength')">{{allMsgs.REQUIRED_MIN_10_CHAR}}</mat-error>
					</mat-form-field>
				</div>
				<div class="actions-btn-div marg-top-20 marg-btm-20">
					<button mat-raised-button [mat-dialog-close]="true" type="button">Cancel</button>
					<button mat-raised-button color="primary" type="submit">Submit</button>
				</div>
			</form>
		</mat-dialog-content>
	</div>
</div>