/**************** fixed width with no horizontal scroll Start ************************/
.download-forms .datatable-row-center, .datatable-body-row {
  width: 100% !important;
}
.download-forms .datatable-header {
  width: 100% !important;
}
.download-forms .datatable-row-group .datatable-body-cell,
.download-forms .datatable-header .datatable-header-cell {
  width: inherit;
}
.download-forms .ngx-datatable.scroll-horz .datatable-body {
  overflow-x: hidden !important;
}
.download-forms .datatable-scroll {
  width: 100% !important;
}
.download-forms .datatable-header-inner, .datatable-row-center {
  width: 100% !important;
}
/**************** fixed width with no horizontal scroll End ************************/

.download-forms .datatable-row-group .datatable-body-cell:nth-child(1),
.download-forms .datatable-header .datatable-header-cell:nth-child(1) {
    width: 35px !important;
}

@media only screen and (max-width: 768px) {
  .download-forms .datatable-row-group .datatable-body-cell:nth-child(2) {
    width: 100% !important;
  }
  .download-forms .datatable-row-group .datatable-body-cell:nth-child(3), 
  .download-forms .datatable-row-group .datatable-body-cell:nth-child(4) {
    display: none;
  }
}